*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border-style: none;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.rule{
	background-color: #eee;
	min-height: 120px;
	margin-top: 20px;
}

.plusButton{
	width: 36px;
	height: 36px;
	background-color: #BDC3C7;
	border-radius: 3px;
	cursor: pointer;
	float: left;
	position: relative;
	top: 27px;
	margin-left: 5px;
}
.plusButton span{
	width: 100%;
	font-size: 24px;
	line-height: 32px;
	color: #fff;
	text-align: center;
}

.plusButton:hover{
	background-color: #34495E;
}

.removeButton{
	cursor: pointer;
	position: absolute;
	top: 3px;
	right: 3px;
	color:  #FF9473;
}
.removeButton span{
	width: 100%;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
}

.removeButton:hover{
	color: #FFC5A3;
}

.timing{
	cursor: pointer;
	position: absolute;
	bottom: 0px;
	right: auto;
	left: 0;
	color:  #FF9473;
	background-color: rgb(57, 85, 109);
	height: 20px;
}
.timing span{
	font-size: 17px;
	line-height: 20px;
	text-align: center;
	color: white;
}

.timing:hover{
	color: #FFC5A3;
}

.timing input{
	width: 28%;
	display: inline;
	color: white;
	height: 100%;
	line-height: 25px;
	font-size: 14px;
	text-align: right;
	background-color: rgb(57, 85, 109);
}

.timing .minButton{
	cursor: pointer;
	position: absolute;
	bottom: 0px;
	left: 0px;
	color:  #FF9473;
	background-color: #2C3E50;
	text-align: center;
	padding-right: 2px;
}
.timing .minButton span{
	width: 20px;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
}

.timing .minButton span:hover{
	color: #FF9473;
}

.timing .plButton{
	cursor: pointer;
	position: absolute;
	bottom: 0px;
	right: 0px;
	color:  #FF9473;
	background-color: #2C3E50;
	text-align: center;
	padding-left: 1px;
}
.timing .plButton span{
	width: 20px;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
}

.timing .plButton span:hover{
	color: #FF9473;
}

.syncButton{
	height: 36px;
	background-color: #BDC3C7;
	border-radius: 3px;
	cursor: pointer;
	position: absolute;
	top: 35px;
	right: 55px;
	width: 120px;
}
.syncButton .glyphicon{
	width: 35px;
	font-size: 24px;
	line-height: 32px;
	color: #fff;
	text-align: center;
}

.syncButton .buttonLabel{
	line-height: 36px;
	float: left;
	margin-left: 7px;
	color: #fff;
}

.syncButton:hover{
	background-color: #34495E;
}

.if{
	float: left;
	width: 19%;
	margin-left: 1%;
	height: 120px;
	position: relative;
	font-weight: 100;
}
.if_text{
	line-height: 120px;
	font-size: 30px
}
.if_descr{
	height: 120px;
	width: 90%;
}
.if_descr div{
	font-size: 16px;
}

.then{
	background-color: #95A5A6;
	min-height: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	display: inline-block;
	width: 78%;
	margin-right: 2%;
	overflow-x: scroll;
}

.shot{
	height: 100px;
	width: 100px;
	background-color: #2C3E50;
	margin: 10px;
	float: left;
	font-size: 12px;
	color: #fff;
	position: relative;
}

.options{
	height: 100px;
	background-color: white;
	margin-right: 2%;
}

.option{
	height: 80px;
	width: 100px;
	background-color: #7F8C8D;
	margin: 10px;
	float: left;
	font-size: 12px;
	color: #fff;
	cursor: pointer;
}

.hide{
	display: none;
}

.vac{
	display: table;
	overflow: hidden;
}

.vac div{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}
ul.shots > li.placeholder {
  position: relative;
  /** More li styles **/
}
ul.shots > li.placeholder:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-top-color: #9FE1FF;
	top: 4px;
	margin-left: -5px;
	border-bottom: none;
}

ol {
	counter-reset:li; /* Initiate a counter */
	margin-left:0; /* Remove the default left margin */
	padding-left:0; /* Remove the default left padding */
}
ol > li.rule {
	position:relative; /* Create a positioning context */
	margin:0 0 6px 2em; /* Give each list item a left margin to make room for the numbers */
	padding:4px 8px; /* Add some spacing around the content */
	list-style:none; /* Disable the normal item numbering */
	/*border-top:2px solid #666;*/
	background:#f6f6f6;
}
ol > li.rule:before {
	content:counter(li); /* Use the counter as content */
	counter-increment:li; /* Increment the counter by 1 */
	/* Position and style the number */
	position:absolute;
	top: 0px;
	bottom: 0px;
	left:-2em;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	width:2em;
	/* Some space between the number and the content in browsers that support
	   generated content but not positioning it (Camino 2 is one example) */
	margin-right:8px;
	padding:4px;
	border-top:50px solid #95A5A6;
	color:#fff;
	background:#95A5A6;
	text-align:center;
}

ol.rules > li.placeholder {
  position: relative;
  padding: 0px 0px;
  margin-left: -15px;

  /** More li styles **/
}
ol.rules > li.placeholder:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-left-color: #9AD2FA;
	left: 4px;
	border-right: none;
}



